@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply border-neutral-300  bg-neutral-50 text-neutral-800 dark:border-neutral-700 dark:bg-neutral-900 dark:text-neutral-100;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-sans text-lg font-medium text-black dark:text-white;
  }

  h1,
  h2 {
    letter-spacing: -0.03em;
  }

  a {
    @apply font-sans text-neutral-600 underline decoration-dotted  hover:text-neutral-500 hover:decoration-solid dark:text-neutral-300 dark:hover:text-neutral-200;
  }
  p {
    @apply max-w-[55ch] font-serif text-base font-normal text-neutral-600 dark:text-neutral-300;
    word-spacing: 0.5px;
    letter-spacing: 0.15px;
    line-height: 1.55;
  }
}

/* 
my lightweight version prismjs theme.
(prismjs splits string into many <span> and assigns classes to them) 
*/
html[class="light"] .token.punctuation {
  color: #777777;
}
html[class="light"] .token.tag {
  color: #4b69c8;
}
html[class="light"] .token.attr-name {
  color: #8190a0;
}
html[class="light"] .token.attr-equals {
  color: #91b3e0;
}
html[class="light"] .token.attr-value {
  color: #448c27;
}

html[class="dark"] .token.punctuation {
  color: #6d7e80;
}
html[class="dark"] .token.tag {
  color: #489ad6;
}
html[class="dark"] .token.attr-name {
  color: #9cdcfe;
}
html[class="dark"] .token.attr-equals {
  color: #d4d4d4;
}
html[class="dark"] .token.attr-value {
  color: #b78675;
}
